@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
}




/* NAVBAR AREA */
.navbar {
    display: flex;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 6px;
    font-size: 30px;
}

.logo h5 {
    color: yellow;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 20px;
}

li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
}

.menu {
    display: none;

}
    /* SECTION ONE */
    .section_one {
        background-image: linear-gradient(to bottom, rgba(7, 7, 10, 0.822), rgba(117, 19, 93, 0.918)),
        url('background.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
       width: 100%;
    }
    .slogan {
        border-top: 3px solid black;
        height: 20vh;
        background-color: #ffffff49;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .slogan h3 {
        margin: 7px;
        font-size: 50px;
    }
    .sub_section_one {
        padding: 30px;
    }
    @media (max-width: 780px) {
      
















        .navbar {
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
            flex-direction: column;
        }

        .links {
            background-color: #9599E2;
        }

        .logo {
            background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
            justify-content: flex-start;
            text-align: left;
            font-size: 20px;
        }

        .logo:hover .links {
            margin-top: 0;
        }

        .logo h5 {
            font-size: 18px;
        }

        .navbar ul {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .navbar li {
            margin: 8px;
        }

        .menu {
            z-index: 2;
            display: block;
            position: absolute;
            right: 0;
            margin: 9px;
            font-size: 19px;
        }

        #toHide {
            display: none;
        }


        /* SECTION ONE */
        .section_one {
            height: 100vh;
            position: absolute;
            top: 10%;
            z-index: -1;
        }
        .slogan h3 {
            font-size: 18px;
          }
    



    }
















    /* EXTRA FOR JS */
    .mar {
        margin-top: -300px;
    }

    .trans {
        transition: 2s;
    }